/* General styles */

:root {
  --main-background-color: #ffffff;
  --first_background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --text-color: #757575;
  --focus-color: #2196f3;
  --hero-text-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --second-logo-color: #000000;
  --main-body-color: #212121;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--main-background-color);
  color: var(--main-body-color);
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Header styles */

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--focus-color);
}

.header-logo-studio {
  color: var(--second-logo-color);
}

.navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: inherit;
}

.navigation a:hover,
.navigation a:focus {
  color: var(--focus-color);
}

.header-email {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-email:hover,
.header-email:focus,
.header-phone:hover,
.header-phone:focus{
  color: var(--focus-color);
}

/* Hero styles */

.hero {
  background: var(--first_background-color);
}

.hero-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}


.hero-button {
  background: var(--focus-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
}

.button {
  cursor: pointer;
}

/* Preferences styles */

.preferences-tittle {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
}

.preferences-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Services styles */

.services-tittle,
.team-tittle {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

/* Team styles */

.team {
  background: var(--second-background-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  /* text-align: center; */
  letter-spacing: 0.03em;
}

.team-position {
  line-height: calc(19 / 16);
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* Footer styles */

footer {
  background: var(--first_background-color);
}

.footer-logo-studio {
  color: var(--hero-text-color);
}

.footer-adress {
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
}

.footer-adress:hover,
.footer-adress:focus,
.footer-email:hover,
.footer-email:focus,
.footer-phone:hover,
.footer-phone:focus{
    color: var(--focus-color);
}

.footer-email {
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

/* Do we need these oa not? */
/* .footer-email:hover, .footer-email:focus {
    color: var(--focus-color);
} */

.footer-phone {
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

/* Portfolio styles */

.portfolio-tittle {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.portfolio-text {
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio-button{
    width: 125px;
    height: 38px;
    left: 593px;
    top: 174px;
    background: #F5F4FA;
    /* border-radius: 4px; */
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
}

.portfolio-button:hover,
.portfolio-button:focus{
    background: var(--focus-color);
    color: var(--hero-text-color);
}
