/* 
main #212121;
seconf color #757575;
main background color: #FFFFFF;
background: #F5F4FA;
blue-color: #2196F3;
*/

/* General styles */

:root {
    --first_background-color: #2F303A;
    --second-background-color: #F5F4FA;
    --tittle-color: #212121;
    --text-color: #757575;
    --focus-color: #2196F3;
    --hero-text-color: #FFFFFF;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);

}

body {
    font-family: 'Roboto';
    font-style: normal;
    background-color: #FFFFFF;
}

body a {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* Header styles */

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--focus-color);
}

.header-logo-studio {
    color: #212121;
}

.navigation a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--tittle-color);
}

.navigation a:hover, .navigation a:focus {
    color: var(--focus-color);
}

.header-email {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.header-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-email:hover, .header-email:focus,
.header-phone:hover, .header-phone:focus {
    color: var(--focus-color);
}

/* Hero styles */

.hero {
    background: var(--first_background-color);
}

.hero-tittle {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-text-color);
}

.button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 60);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-text-color);
}

.button {
    background: var(--focus-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* Preferences styles */

.preferences-tittle {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--tittle-color);
}

.preferences-text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* Services styles */

.services-tittle, .team-tittle {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--tittle-color);
}

/* Team styles */

.team {
    background: var(--second-background-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--tittle-color);
}

.team-position {
    line-height: calc(19 / 16);
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--text-color);
}
/* Footer styles */

footer {
    background: var(--first_background-color);
}

.footer-logo-studio {
    color: var(--hero-text-color);
}

.footer-adress {
    font-style: normal;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--hero-text-color);
}

.footer-email {
    font-style: normal;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--footer-contacts-color);
}

/* Do we need these oa not? */
/* .footer-email:hover, .footer-email:focus {
    color: var(--focus-color);
} */

.footer-phone {
        font-style: normal;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: var(--footer-contacts-color);
}