/* 
main font-color #212121;
seconf font-color : #757575;
main background color: #FFFFFF;
background: #F5F4FA;
blue-color: #2196F3;
*/


.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-span {
    color: #212121;
}

.navigation a {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #212121;
}

.navigation a:hover, .navigation a:focus {
    color: #2196F3;
}