.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: $primary-accent-color;

    margin-right: 93px;
}

.logo--black {
    color: $second-logo-color;
}

.logo--white {
    color: $secondary-accent-color;
}