footer {
    background-color: $primary-background-color;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-box {
    display: flex;
    align-items: baseline;
}

.visit-card {
    margin-right: 70px;
}

.adding {
    margin-right: 93px;

    .social_item {
            margin-left: 0;
            margin-right: 10px;
        }

        &:last-child {
            margin-right: 0;
        }

    .social_link {
        background-color: rgba(255, 255, 255, 0.1);
        color: $secondary-accent-color;

        &:hover, &:focus {
                background-color: $primary-accent-color;
                color: $secondary-accent-color;
            }
    }

    
}

// .adding .social_item {
//     margin-left: 0;
//     margin-right: 10px;
// }

// .adding .social_item:last-child {
//     margin-right: 0;
// }

// .adding .social_link {
//     background-color: rgba(255, 255, 255, 0.1);
//     color: $secondary-accent-color;
// }

// .adding .social_link:hover,
// .adding .social_link:focus {
//     background-color: $primary-accent-color;
//     color: $secondary-accent-color;
// }

.footer {
    .logo {
            display: block;
            margin-bottom: 20px;
        }
}

.adress_item:not(:last-child) {
    margin-bottom: 9px;
}

.adress_link {
    font-style: normal;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: $footer-contacts-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
            color: $primary-accent-color;
        }
}

.adress_link--accent {
    color: $secondary-accent-color;
}

.social--footer {
    margin-left: 0;
    padding: 0;
}

.adding_tittle {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-accent-color;
    margin-bottom: 20px;
}

.dispatch_form {
    display: flex;
    align-items: center;
}

.dispatch_tittle {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-accent-color;
    margin-bottom: 20px;
}

.dispatch_input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    background-color: $primary-background-color;
    padding-left: 16px;

    &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.03em;
    
            color: $footer-contacts-color;
        }
}

.dispatch-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 28px;
    box-shadow: 0px 4px 4px $box-shadow-dispatch-button-color;
}

.dispatch-button_text {
    margin-right: 10px;
}

.dispatch-button_icon {
    fill: currentColor;
}