.page-header {
    border-bottom: 1px solid $header-border-color;

    &.page-header__main {
            border: none;
        }
}

.header-nav {
    display: flex;
    padding: 0;
}

.header-nav__link {
    position: relative;
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
            color: $primary-accent-color;
        }
}

.header-nav__item:not(:last-child) {
    margin-right: 50px;
}

.header-nav__link--active {
    color: $primary-accent-color;

    &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background-color: $primary-accent-color;
            border-radius: 2px;
        }
}

.head-menu {
    display: flex;
    align-items: center;
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

.header-contacts__item:not(:first-child) {
    margin-left: 50px;
}

.header-contacts__text {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}

.header-contacts__link {
    display: flex;
    align-items: center;
    color: $main-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
            color: $primary-accent-color;
        }
}

.header-contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}